
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* primary colors */
    --desaturated-red: hsl(0, 36%, 70%);
    --soft-red: hsl(0, 93%, 68%);

    /* neutral */
    --dark-grayish-red: hsl(0, 6%, 24%);

    /* gradients */
    --linear-1: 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%);
    --linear-2: 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%);
}

body, html {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;

}

img {
    max-width: 100%;
}


.container {
    max-width: 1800px;
    margin: 0 auto;
}

.main-box__down {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
}

.main-box__hero-image {
    background-image: url('./images/hero-mobile.jpg');
    background-repeat: no-repeat;
    background-position: top;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    height: 250px;
}

.main-box__text {
    position: absolute;
    top: 400px;
    margin: 0 auto;
    padding: 2rem;
    left: 0;
    right: 0;
    text-align: center;
}

.main-box__text-title span {
    font-weight: 300;
    letter-spacing: 10px;
    font-size: 46px;
    text-transform: uppercase;
    color: var(--desaturated-red);
}

